* {
    background-color: black;
    color: white;      
    font-family: Arial, Helvetica, sans-serif; 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 10vh;   
}

#txtNum {
    background-color: white;
    margin: 10px;
    width: 50px;
    color: black;
    font-size: 1.3em;
}

.btnCalcular { 
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 1.1em;
}

.btnCalcular:hover {
    background-color: gray;
}

.DivResp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1px;
    place-items: center;
    place-content: center;
}